* {
    box-sizing: border-box;
}

.nametag {
    width: 500px;
    height: 300px;
    border: solid black;
    border-radius: 25px;
    background-color:lightblue;
}

.words {
    color: white;
    font-family: arial, helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.hello {
    font-size: 65px;
}
.my-name-is {
    font-size: 25px;
}

.front {
    position: relative;
    top: 3px;
    height: 100px;
    background-color: white;
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
 }